body{
  background-color: darkblue;
  text-align: center;
  font-size: 30px;
  color:aqua
}
h1{
    color:aquamarine;
    font-size:35px;
}

p{
    color:skyblue;
    font-family: 'Courier New', Courier, monospace;
}
